<style>
  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .wrapper {
    width: 100%;
    height: 100%;
  }
</style>

<main class="main">
  <select [formControl]="selectedStatus" (change)="filterServers(selectedStatus.value)">
    <option value="ALL">ALL</option>
    <option value="SERVER_UP">SERVER_UP</option>
    <option value="SERVER_DOWN">SERVER_DOWN</option>
  </select>

  <div
    class="wrapper"
    *ngIf="appState$ | async as appState"
    [ngSwitch]="appState.dataState"
  >
    <div *ngSwitchCase="DataState.LOADING_STATE">
      <p>Loading...</p>
    </div>

    <div *ngSwitchCase="DataState.LOADED_STATE">
      <app-servers-list
        [serversList]="appState.appData.data.servers"
        (pingServerEvent)="pingServer($event)"
      />
    </div>

    <div *ngSwitchCase="DataState.ERROR_STATE">
      <p>Error</p>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
